<div class="background">
  <div class="popup-form">
    <div class="back-button icon-button" (click)="goBack()">
      <div>
        <mat-icon>arrow_back</mat-icon>
      </div>
    </div>
    <button
      mat-button
      color="primary"
      class="logout-button button"
      (click)="logout()"
    >
      Logout
    </button>

    <img [src]="profile.photoUrl" alt="Profile Photo" class="profile-photo" />
    <h2>{{ profile.name }}</h2>
    <p>{{ profile.email }}</p>

    <div class="roles fancy-box">
      <h3>Roles</h3>
      <ul>
        <li *ngFor="let role of profile.roles">{{ role }}</li>
      </ul>
    </div>
    <div class="authorities fancy-box">
      <h3>Authorities</h3>
      <ul>
        <li *ngFor="let authority of profile.authorities">{{ authority }}</li>
      </ul>
    </div>
  </div>
</div>
